<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles.css">
    <title>Create task</title>
</head>
<body>
    <form action="#" th:action="@{/saveTask}" th:object="${task}" method="post">
        <p><input type="text" th:field="*{description}" placeholder="enter description"></p>
        <p><select th:field="*{status}">
            <option th:each="value : ${options}" th:value="${value}" th:text="${value}"></option>
        </select></p>
        <button class="button">Create</button>
        <button class="button" th:action="@{/}">Cancel</button>
    </form>
</body>
</html>